<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Vue.js Test</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <!-- <div id="example">{{ greeting }}</div> -->
    <!-- <div id="example">{{ `${greeting} 太郎さん！` }}</div> -->
    <!-- <div id="example">{{ new Date().toLocaleString() }}</div> -->
    <!-- <div id="example">
      <a v-bind:href="url">アマゾン</a>
    </div> -->
    <!-- <div id="example">
      <input type="text" v-bind:value="name">
      <p>{{ name }}</p>
    </div> -->
    <!-- <ul id="example">
      <li
       v-for="member in members"
       v-bind:key="member"
      >
        {{ member }}
      </li>
    </ul> -->
    <!-- <ul id="example">
      <li
        v-for="(member, index) in members"
        v-bind:key="index"
      >
        {{ index }}：{{ member }}
      </li>
    </ul> -->
    <!-- // プロパティの値を格納した変数 in オブジェクト -->
    <!-- <ul id="example">
      <li
        v-for="character in characters"
        v-bind:key="character"
      >
        {{ character }}
      </li>
    </ul> -->
    <!-- // (プロパティの値を格納した変数, プロパティ名を格納した変数) in オブジェクト -->
    <!-- <ul id="example">
      <li
        v-for="(character, key) in characters"
        v-bind:key="key"
      >
        {{ key }}：{{ character }}
      </li>
    </ul> -->
    <!-- <div id="example">
      <input
        v-bind:value="name"
        v-on:input="name = $event.target.value"
      >
      <p>{{ name }}</p>
    </div> -->
    <!-- <div id="example">
      <input @input="name = $event.target.value" :value="name">
      <p>{{ name }}</p>
    </div> -->
    <!-- <div id="example">
      <input v-model="name">
      <p>{{ name }}</p>
    </div> -->
    <!-- <div id="example">
      <div>
        <p>
          身長： <input v-model="height" type="text"> cm
        </p>
        <p>
          体重： <input v-model="weight" type="text"> kg
        </p>
      </div>
      <div> -->
        <!-- BMI: {{ weight / ((height / 100) * (height / 100)) || '' }} -->
        <!-- BMI: {{ bmi }} -->
        <!-- BMI: {{ getBmi() }}
      </div>
    </div> -->
    <!-- <div id="example">
      <p>
        <button v-on:click="countUp()">{{ count }} 回</button>
      </p>
      <p>現在時刻（メソッド）： {{ getDate() }}</p>
      <p>現在時刻（算出プロパティ）： {{ date }}</p>
    </div> -->

    <!-- ---------------------------------------------------------- -->
    <!-- タブの作成 -->
    <!-- v-showの場合 -->
    <!-- v-bind:class="{active: activeTab === 'tabs-1'}"は、class属性の属性値に{}でオブジェクトが指定されていて、
    プロパティ名 'active'、プロパティの値activeTab === 'tabs-1'が入っている。
    これはプロパティ値がtrueの場合に{active: true}となり、active というクラス名がli要素のclass属性の値に加えられる。 -->
    <!-- v-showディレクティブでは、属性値が true となる場合に要素を表示し、false となる場合に非表示にする。 -->
    <div id="example">
      <ul class="tabs-menu">
        <li
          v-bind:class="{active: activeTab === 'tabs-1'}"
          v-on:click="activeTab = 'tabs-1'"
        >
          タブ1
        </li>
        <li
          v-bind:class="{active: activeTab === 'tabs-2'}"
          v-on:click="activeTab = 'tabs-2'"
        >
          タブ2
        </li>
        <li
          v-bind:class="{active: activeTab === 'tabs-3'}"
          v-on:click="activeTab = 'tabs-3'"
        >
          タブ3
        </li>
      </ul>
      <section class="tabs-content">
        <section v-show="activeTab === 'tabs-1'">
          <p>タブ1の内容が入ります。</p>
        </section>
        <section v-show="activeTab === 'tabs-2'">
          <p>タブ2の内容が入ります。</p>
        </section>
        <section v-show="activeTab === 'tabs-3'">
          <p>タブ3の内容が入ります。</p>
        </section>
      </section>
    </div>
    <script src="main.js"></script>
  </body>
</html>