<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Vue.js Test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <!-- <div id="example">{{ greeting }}</div> -->
    <!-- <div id="example">{{ `${greeting} 太郎さん！` }}</div> -->
    <!-- <div id="example">{{ new Date().toLocaleString() }}</div> -->
    <!-- <div id="example">
      <a v-bind:href="url">アマゾン</a>
    </div> -->
    <!-- <div id="example">
      <input type="text" v-bind:value="name">
      <p>{{ name }}</p>
    </div> -->
    <!-- <ul id="example">
      <li
       v-for="member in members"
       v-bind:key="member"
      >
        {{ member }}
      </li>
    </ul> -->
    <!-- <ul id="example">
      <li
        v-for="(member, index) in members"
        v-bind:key="index"
      >
        {{ index }}：{{ member }}
      </li>
    </ul> -->
    <!-- // プロパティの値を格納した変数 in オブジェクト -->
    <!-- <ul id="example">
      <li
        v-for="character in characters"
        v-bind:key="character"
      >
        {{ character }}
      </li>
    </ul> -->
    <!-- // (プロパティの値を格納した変数, プロパティ名を格納した変数) in オブジェクト -->
    <ul id="example">
      <li
        v-for="(character, key) in characters"
        v-bind:key="key"
      >
        {{ key }}：{{ character }}
      </li>
    </ul>
    <script src="main.js"></script>
  </body>
</html>